#btn-prev-towel {
  width: 15px;
  height: 20px;
  float: left;
  margin-top: 250px;
  margin-left: 24px;
}

#btn-prev-towel:hover {
  cursor: pointer;
}

#towels {
  height: 500px;
  float: left;
}

#towels img {
  width: 20em;
}

#ie-towels {
  margin-left: 35px;
  float: left;
}

#btn-next-towel {
  width: 15px;
  height: 20px;
  float: left;
  margin-top: 250px;
  margin-right: 20px;
}

#btn-next-towel:hover {
  cursor: pointer;
}

.roundabout-holder {
  list-style: none;
  padding: 0;
  margin: 0px auto 0px auto;
  height: 40em;
  width: 50em;
}
.roundabout-moveable-item {
  height: 31em;
  width: 20em;
  cursor: pointer;
}
.roundabout-in-focus {
  cursor: auto;
}