@font-face {
font-family: 'Bariol Regular';
src: url('../font/bariol/bariol_regular-webfont.eot'); /* IE9 Compat Modes */
src: url('../font/bariol/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../font/bariol/bariol_regular-webfont.woff') format('woff'), /* Modern Browsers */
   url('../font/bariol/bariol_regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
   url('../font/bariol/bariol_regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
font-family: 'Bariol Thin';
src: url('../font/bariol/bariol_thin-webfont.eot'); /* IE9 Compat Modes */
src: url('../font/bariol/bariol_thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../font/bariol/bariol_thin-webfont.woff') format('woff'), /* Modern Browsers */
   url('../font/bariol/bariol_thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
   url('../font/bariol/bariol_thin-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
font-family: 'Bariol Light';
src: url('../font/bariol/bariol_light-webfont.eot'); /* IE9 Compat Modes */
src: url('../font/bariol/bariol_light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../font/bariol/bariol_light-webfont.woff') format('woff'), /* Modern Browsers */
   url('../font/bariol/bariol_light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
   url('../font/bariol/bariol_light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
font-family: 'Bariol Bold';
src: url('../font/bariol/bariol_bold-webfont.eot'); /* IE9 Compat Modes */
src: url('../font/bariol/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../font/bariol/bariol_bold-webfont.woff') format('woff'), /* Modern Browsers */
   url('../font/bariol/bariol_bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
   url('../font/bariol/bariol_bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  background: url('../img/item_bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#add-to-cart-button {
  background-image: url('../img/add_to_cart.png');
  position:absolute;
  right: 0;
  /* this is 75% of the size on Fred's PSD */
    width: 180px;
    height: 206px;
  /* ------------------------------------- */
  font-size: small;
  margin-top: 360px;
}

#logo {
  height: 148px;
  text-align: center;
  padding-top: 102px;
}

#banner {
  height: 320px;
}

#social {
  height: 30px;
  text-align: right;
}

#social img {
  padding: 0px 10px 0px 10px;
}

#share-text {
  font-family: 'Bariol Regular', sans-serif;
  text-align: right;
  font-size: 16pt;
  color: white;
  height: 90px;
  padding-top: 10px
}

#color-title {
  font-family: 'Bariol Regular', sans-serif;
  font-size: 52pt;
  height: 55px;
}

#color-slogan {
  font-family: 'Bariol Regular', sans-serif;
  color: white;
  font-size: 28pt;
  height: 145px;
}

#color-pictures {
  height: 445px;
}

#pic-1 {
  width: 380px;
  float: left;
}

#pic-2 {
  width: 255px;
  float: left;
}

#pic-3 {
  width: 325px;
  float: left;
}

#colors-features-header {
  font-family: 'Bariol Regular', sans-serif;
  color: white;
  height: 35px;
  border-bottom: 3px groove #4f9a87;
}

#h-more-colors {
  float: left;
  font-family: 'Bariol Regular', sans-serif;
  color: white;
  font-size: 22pt;
  width: 480px;
  text-align: left;
}

#h-features {
  float: left;
  font-family: 'Bariol Regular', sans-serif;
  color: white;
  font-size: 22pt;
  width: 480px;
  text-align: right;
}

#colors-features-content {
  height: 170px;
  padding-top: 15px;
}

#towel-pics {
  height: 90px;
  width: 700px;
  float: left;
}

.tiny-towel img {
  width:65px;
  height:90px;
  padding: 0px 10px 0px 10px;
  float: left;
}

#features {
  width: 255px;
  height: 170px;
  text-align: right;
  float: left;
}

#features li {
  list-style: none;
  font-family: 'Bariol Bold', sans-serif;
  color: black;
  font-size: 16pt;
  line-height: 30px;
}

.thin {
  font-family: 'Bariol Thin', sans-serif;
}

.regular {
  font-family: 'Bariol Regular', sans-serif;
}

#shipping-header {
  font-family: 'Bariol Regular', sans-serif;
  color: white;
  height: 35px;
  border-bottom: 3px groove #4f9a87;  
}

#shipping-content {
  height: 90px;
}

#shipping-title {
  float: left;
  font-family: 'Bariol Regular', sans-serif;
  color: white;
  font-size: 22pt;
  width: 480px;
  text-align: left;
}

#price {
  font-family: 'Bariol Regular', sans-serif;
  height: 90px;
  width: 700px;
  float: left;
  padding-top: 25px;
  font-size: 48pt;
}

#add-to-cart {  font-family: 'Bariol Regular', sans-serif;
  width: 255px;
  height: 90px;
  padding-top: 25px;
  text-align: right;
  font-size: 28pt;
  float: left;
}


