@font-face {
font-family: 'Bariol Regular';
src: url('../font/bariol/bariol_regular-webfont.eot'); /* IE9 Compat Modes */
src: url('../font/bariol/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	 url('../font/bariol/bariol_regular-webfont.woff') format('woff'), /* Modern Browsers */
	 url('../font/bariol/bariol_regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	 url('../font/bariol/bariol_regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
font-family: 'Bariol Thin';
src: url('../font/bariol/bariol_thin-webfont.eot'); /* IE9 Compat Modes */
src: url('../font/bariol/bariol_thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../font/bariol/bariol_thin-webfont.woff') format('woff'), /* Modern Browsers */
   url('../font/bariol/bariol_thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
   url('../font/bariol/bariol_thin-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
font-family: 'Bariol Light';
src: url('../font/bariol/bariol_light-webfont.eot'); /* IE9 Compat Modes */
src: url('../font/bariol/bariol_light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../font/bariol/bariol_light-webfont.woff') format('woff'), /* Modern Browsers */
   url('../font/bariol/bariol_light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
   url('../font/bariol/bariol_light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
font-family: 'Bariol Bold';
src: url('../font/bariol/bariol_bold-webfont.eot'); /* IE9 Compat Modes */
src: url('../font/bariol/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../font/bariol/bariol_bold-webfont.woff') format('woff'), /* Modern Browsers */
   url('../font/bariol/bariol_bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
   url('../font/bariol/bariol_bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    background-image: url('../img/background.png');
    background-color: #353433;
}

.border {
  height: 5px;
  width: 950px;
  margin: 1px auto 1px auto;
  text-align: center;
  background-image: url('../img/hr.png');
  background-repeat: no-repeat;
}

#view-cart-button {
  background-image: url('../img/cart.png');
  position:absolute;
  right: 0;
  /* this is 75% of the size on Fred's PSD */
    width: 180px;
    height: 206px;
  /* ------------------------------------- */
  font-size: small;
  margin-top: 360px;
}

#item-price {
  font-family: 'Bariol Regular', sans-serif;
  color: #332f2e;
  position:absolute;
  right: 0;
  font-size: 16pt;
  width: 75px;
  /* needs to change if the size of #cart-button changes */
    margin: 35px 0px 0px 0px;
	  padding: 65px 15px 18px 0px;
  /* --------------------------------------------------- */
}

#logo {
  height: 50px;
  margin-top: 85px;
  text-align: center;
}

#towel-carousel {
  height: 500px;
  margin-top: 120px;
  display: none;
}

#towels {
}

#slogan {
  height: 30px;
  margin-top: 150px;
  text-align: center;
  font-family: 'Bariol Regular', sans-serif;
  font-size: 24pt;
}

#slogan p {
  font-family: 'Bariol Regular', sans-serif;
  font-size: 20pt;
  color: #808080;
}

.thin {
  font-family: 'Bariol Thin', sans-serif;
  color: #808080;
}

.regular {
  font-family: 'Bariol Regular', sans-serif;
  color: white;
}

#video {
  height: 550px;
  margin-top: 225px;
}

#quote {
  height: 85px;
  margin-top: 150px;
}

#quote-text {
  color: #332f2e;
  font-family: 'Bariol Regular', sans-serif;
  font-size: 18pt;
  text-align: center;
  line-height: 105%;
}

#nav-container {
  height: 75px;
  margin-top: 140px;
  margin-bottom: 3px;
}

#nav {
  height: 15px;
  margin-top: 28px;
}

#menu {
  height: 780px;
  position: relative;
  width: 960px;
}

#menu-background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

#menu_mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

#pages {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000000;
}

#menu-items li {
  /* width = (960/n) - 2 where n is the number of 'li's */
    width: 238px;
  /* -------------------------------------------------- */
  text-align: center;
  font-family: 'Bariol Bold', sans-serif;
  color: black;
  list-style: none;
  float: left;
}

#menu-items .item:hover {
  color: white;
  cursor: pointer;
}

#menu-items .selected {
  color: white;
}

#menu-bottom-nav-pages .selected {
  color: white;
}

#left-column {
  height:650px;
  width: 385px;
  float: left;
  margin: 65px 30px 65px 65px;
}

#right-column {
  height:650px;
  width: 385px;
  float: left;
  margin: 65px 65px 65px 25px;
}

.page p {
  font-family: 'Bariol Regular', sans-serif;
  font-size: 14pt;
  line-height: 24px;
  color: white;
}

#menu-bottom-nav-container {
  height: 20px;
  margin-top: 40px;
  text-align: center;
}

#menu-bottom-nav {
  height: 20px;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: auto;
}

#menu-bottom-nav-pages {
  display: inline-block;
  width: auto;
  margin: 0px 10px 0px 10px;
  float: left;
}

#bottom-nav-left-arrow {
	font-family: 'Bariol Bold', sans-serif;
	font-size: 28pt;
	color: black;
	float: left;
	left: 0;
  margin-right: 15px;
}

#bottom-nav-left-arrow:hover {
  cursor: pointer;
}

#bottom-nav-right-arrow {
	font-family: 'Bariol Bold', sans-serif;
	font-size: 28pt;
	color: black;
	float: left;
	right: 0;
  margin-left: 8px;
}

#bottom-nav-right-arrow:hover {
  cursor: pointer;
}

.page-nav-button {
	float: left;
	list-style: none;
	color: black;
	margin: 4px 15px 0px 10px;
}

#menu-bottom-nav-pages li {
  font-family: 'Bariol Bold', sans-serif;
  font-size: 14pt;
}

.page-nav-button:hover {
	cursor: pointer;
	color: white;
}

#instagram-logo {
  height: 40px;
  margin-top: 190px;
  text-align: center;
}

#instagram-photos {
  height: 190px;
  margin-top: 50px;
}

#photo-line {
  height: 190px;
  width: 945px;
  margin: 0px auto 0px auto;
}

.instagram-placeholder-right {
  width: 184px;
  height: 184px;
  float: left;
}

.instagram-placeholder {
  width: 184px;
  height: 184px;
  float: left;
  margin-right: 5px;
}

#footer-text {
  font-family: 'Bariol Bold', sans-serif;
  color: white;
  height: 15px;
  margin: 55px 0px 50px 0px;
}

#made-in {
  text-align: left;
  text-align: left;
  width: 250px;
  float: left;
}

#rights {
  text-align: right;
  width: 706px;
  float: left;
}
